{% extends "first_app/base.html" %}
{% load static %}
{% block body_block %}

    <div class="container" id="spc">
      <div class="row">
        {% if movies %}
        {% for i in movies %}
        <div class="col-lg-4 col-md-4 col-xs-6">
          <div class="thumbnail">
            <img src="/media/{{i.movie_photo}}" alt="no img">
            <div class="caption">
              <h3>{{i.movie_name}}</h3>
              <br>
              <table>
                <tr>
                  <td><a href="/first_app/watch_movie/{{i.movie_video}}" class="btn btn-primary btn-lg" role="button">watch</a></td>
                  <td><p id="ssppc">---------------</p></td>
                  <td><form class="" action="{% url 'first_app:unfav' %}" method="POST">
                    {% csrf_token %}
                    <input name="mvname" type="hidden" class="form-control" value="{{i.movie_name}}">
                    <button type="submit" class="btn btn-primary btn-lg">Remove</button>
                  </form></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>

    <style>
      .thumbnail{
        width: 350px;
        height: 700px;
      }
      #ssppc{
        color:white;
      }
    </style>
{% endblock %}
